mp3_organizer/clients/amazon/amazon_account.py

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
develop-eggs
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# JetBrains
.idea
